
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<h2>Adress:</h2>
<p>@ViewBag.adress</p>
<h2>Mobile:</h2>
<p>@ViewBag.mobile</p>
<h2>e-mail: @ViewBag.email</h2>

<p><a href="mailto:@ViewBag.email">Send e-mail to Anders</a></p>


