
@{
    ViewData["Title"] = "GuessingGame";
}

<h1>Guessing the number game</h1>

<p>Welcome to gues a number. The computer will randomly pick a number between 1 and 100. Guess what number it is.</p>

<form asp-controller="Home" asp-action="GuessingGame" method="post">
    <label>Guess a number</label>
    <input type="number" min="1" max="100" name="guessedNumber" required />
    <input type="submit" value="Guess a number" />
</form>

<br />

@if (ViewBag.numberMessage != null)
{
    <p>@ViewBag.numberMessage</p>

}

