
@{
    ViewData["Title"] = "FeverCheck";
}

<h1>Check if you got fever</h1>

<p>Please write your temprature and press Check Temperature.</p>

<form asp-controller="Doctor" asp-action="FeverCheck" method="post">
    <label>Temperature:</label>
    <input type="number" min="20" max="43" name="temp" required/>
    <input type="submit" value="Check Temperature"/>

</form>

@if (ViewBag.message != null)
{
    <p>@ViewBag.message</p>
}

